doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title=title ? title + ' - KitTorrent' : 'KitTorrent'
    block css
      //link(href='/bundle.css' rel='stylesheet')
  body(class=bodyClass)
    div(id='content')
      block content
    block js
      script(src='/bundle.js')
